<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <meta name="description" content="{{ site.description }}" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="canonical" href="{{ site.url }}" />
  <meta name="referrer" content="no-referrer-when-downgrade" />

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ site.title }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta name="twitter:url" content="{{ site.url }}" />
</head>
